$infinite-point-distance: 200px;

@mixin pendulum($type, $time) {
    -moz-transform-origin: 50% (-$infinite-point-distance);
    -moz-animation-duration: $time;
    -moz-animation-name: pendulum-#{$type};
    -moz-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% (-$infinite-point-distance);
    -webkit-animation-duration: $time ;
    -webkit-animation-name: pendulum-#{$type};
    -webkit-animation-iteration-count: infinite;
    transform-origin: 50% (-$infinite-point-distance);
    animation-duration: $time;
    animation-name: pendulum-#{$type};
    animation-iteration-count: infinite;
}

footer {
    position: relative;
    height: auto;
    width: 100%;
    /* Radial gradient background */
    background: url('../images/bg.png'); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url('../images/bg-transparent.png') repeat, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyYTM2NGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDUwNDBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: url('../images/bg-transparent.png') repeat, -moz-radial-gradient(center, ellipse cover, #2a364c 0%, #05040a 100%); /* FF3.6+ */
    background: url('../images/bg-transparent.png') repeat, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2a364c), color-stop(100%,#05040a)); /* Chrome,Safari4+ */
    background: url('../images/bg-transparent.png') repeat, -webkit-radial-gradient(center, ellipse cover, #2a364c 0%,#05040a 100%); /* Chrome10+,Safari5.1+ */
    background: url('../images/bg-transparent.png') repeat, -o-radial-gradient(center, ellipse cover, #2a364c 0%,#05040a 100%); /* Opera 12+ */
    background: url('../images/bg-transparent.png') repeat, -ms-radial-gradient(center, ellipse cover, #2a364c 0%,#05040a 100%); /* IE10+ */
    background: url('../images/bg-transparent.png') repeat, radial-gradient(ellipse at center, #2a364c 0%,#05040a 100%); /* W3C */
    z-index: 0;
    overflow: hidden;

    @include respond-to(retina) {
        background: url('../images/bg@2x.png'); /* Old browsers */
        background: url('../images/bg-transparent@2x.png') repeat, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyYTM2NGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDUwNDBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: url('../images/bg-transparent@2x.png') repeat, -moz-radial-gradient(center, ellipse cover, #2a364c 0%, #05040a 100%); /* FF3.6+ */
        background: url('../images/bg-transparent@2x.png') repeat, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2a364c), color-stop(100%,#05040a)); /* Chrome,Safari4+ */
        background: url('../images/bg-transparent@2x.png') repeat, -webkit-radial-gradient(center, ellipse cover, #2a364c 0%,#05040a 100%); /* Chrome10+,Safari5.1+ */
        background: url('../images/bg-transparent@2x.png') repeat, -o-radial-gradient(center, ellipse cover, #2a364c 0%,#05040a 100%); /* Opera 12+ */
        background: url('../images/bg-transparent@2x.png') repeat, -ms-radial-gradient(center, ellipse cover, #2a364c 0%,#05040a 100%); /* IE10+ */
        background: url('../images/bg-transparent@2x.png') repeat, radial-gradient(ellipse at center, #2a364c 0%,#05040a 100%); /* W3C */
    }

    .hero {
        position: relative;
        width: 100%;
        text-align: center;
        font-family: 'Open Sans Condensed', Verdana, sans-serif;
        font-size: 2em;
        margin-top: -2em;
        padding: 0 0 2em 0;

        @include respond-to(small-height small-width) {
            position: relative;
            padding: 0em 0 2em 0;
            margin-top: 0em;
        }

        h3 {
            color: white;
            font-style: italic;
        }

        h3 {
            @include single-text-shadow(0, 0, 1px, false, white);
            font-family: 'Open Sans Condensed', Verdana, sans-serif;
            font-size: 2em;
        }

        p {
            color: #ffed00;
            margin: 0;
        }

    }

    .starfield {
        @include no-bullets;
        @include disable-selection;
        position: relative;
        width: 100%;
        height: 420px;
        max-width: 1600px;
        margin: 0 auto;

        @include respond-to(small-width small-height) {
            height: auto;
            text-align: center;
        }

        img {
            @include disable-selection;
        }
    }

    $left-offset: 12%;

    .spaceship {
        @include pendulum("spaceship", 2.79s);
        position: absolute;
        top: 200px;
        left: $left-offset;
        z-index: 11;

        img {
            position: relative;
            z-index: 15;
            width: 100%;
            max-width: 334px; // image DEPENDANT
        }

        @include respond-to(small-width small-height) {
            @include pendulum("disabled", 2.79s);
            position: relative;
            top: auto;
            left: auto;
            padding-top: 4rem;
        }
    }

    .moon {
        @include pendulum("moon", 3.1s);
        position: absolute;
        top: 16px;
        left: ($left-offset + 40%);
        z-index: 10;

        img {
            position: relative;
            z-index: 14;
        }

        @include respond-to(small-width small-height) {
            display: none;
        }
    }

    .star {
        @include respond-to(small-width small-height) {
            display: none;
        }
    }

    .star img {
        position: relative;
        z-index: 5;
    }

    .star-1 {
        @include pendulum("star-1", 2.99s);
        position: absolute;
        top: 100px;
        left: $left-offset;
        height: 35px;
    }

    .star-2 {
        @include pendulum("star-2", 3.79s);
        position: absolute;
        top: 39px;
        left: ($left-offset + 15%);
        height: 50px;
    }

    .star-3 {
        @include pendulum("star-3", 3.19s);
        position: absolute;
        top: 23px;
        left: ($left-offset + 20%);
        height: 25px;
    }
    .star-4 {
        @include pendulum("star-4", 3.1s);
        position: absolute;
        top: 230px;
        left: ($left-offset + 25%);
    }

    .star-5 {
        @include pendulum("star-5", 2.8s);
        position: absolute;
        top: 170px;
        left: ($left-offset + 32%);
        height:35px;
    }

    .star-6 {
        @include pendulum("star-6", 3.6s);
        position: absolute;
        top: 90px;
        left: ($left-offset + 55%);
        height:50px;
    }

    .star-7 {
        @include pendulum("star-7", 3.2s);
        position: absolute;
        top: 60px;
        left: ($left-offset + 60%);
        height:25px;
    }

    .star-8 {
        @include pendulum("star-8", 2.7s);
        position: absolute;
        top: 250px;
        left: ($left-offset + 65%);
    }

    .star-9 {
        @include pendulum("star-9", 2.9s);
        position: absolute;
        top: 180px;
        left: ($left-offset + 70%);
        height: 55px;
    }

    .hanged {
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 50%;
            left: 50%;
            border-right: 1px dotted #414652;
            height: $infinite-point-distance * 5;
            width: 1px;
            margin-left: -1px;
            z-index: 1;

            @include respond-to(small-width small-height) {
                display: none;
            }
        }

        &.double:before, &.double:after {
            border-color: #4f5664;
        }

        &.double:before {
            left: 23%;
            bottom: 54%;
        }

        &.double:after {
            left: auto;
            right: 27%;
            bottom: 92%;
            z-index: 1;
        }
    }
}


/* Disabled transformation */
@-moz-keyframes pendulum-disabled {
    from { -moz-transform: none; }
    to   { -moz-transform: none; }
}
@-webkit-keyframes pendulum-disabled {
    from { -webkit-transform: none; }
    to   { -webkit-transform: none; }
}
@keyframes pendulum-disabled {
    from { transform: none; }
    to   { transform: none; }
}

/* Spaceship rotation style */
@-moz-keyframes pendulum-spaceship {
    from { -moz-transform: rotate(-1deg); }
    50%  { -moz-transform: rotate(1deg); }
    to   { -moz-transform: rotate(-1deg); }
}
@-webkit-keyframes pendulum-spaceship {
    from { -webkit-transform: rotate(-1deg); }
    50%  { -webkit-transform: rotate(1deg); }
    to   { -webkit-transform: rotate(-1deg); }
}
@keyframes pendulum-spaceship {
    from { transform: rotate(-1deg); }
    50%  { transform: rotate(1deg); }
    to   { transform: rotate(-1deg); }
}

/* Moon rotation animation */

@-moz-keyframes pendulum-moon {
    from { -moz-transform: rotate(-0.98deg); }
    50%  { -moz-transform: rotate(0.98deg); }
    to   { -moz-transform: rotate(-0.98deg); }
}
@-webkit-keyframes pendulum-moon {
    from { -webkit-transform: rotate(-0.98deg); }
    50%  { -webkit-transform: rotate(0.98deg); }
    to   { -webkit-transform: rotate(-0.98deg); }
}
@keyframes pendulum-moon {
    from { transform: rotate(-0.98deg); }
    50%  { transform: rotate(0.98deg); }
    to   { transform: rotate(-0.98deg); }
}


/* Stars rotation styles */
$starsRotation: 0.97, -1.01, -1, 1.05, -0.93, 0.99, -0.9, 0.95, -0.98;

@for $i from 1 through 9 {
    @-moz-keyframes pendulum-star-#{$i} {
        from { -moz-transform: rotate(-#{nth($starsRotation, $i)}deg); }
        50%  { -moz-transform: rotate(#{nth($starsRotation, $i)}deg); }
        to   { -moz-transform: rotate(-#{nth($starsRotation, $i)}deg); }
    }
    @-webkit-keyframes pendulum-star-#{$i} {
        from { -webkit-transform: rotate(-#{nth($starsRotation, $i)}deg); }
        50%  { -webkit-transform: rotate(#{nth($starsRotation, $i)}deg); }
        to   { -webkit-transform: rotate(-#{nth($starsRotation ,$i)}deg); }
    }
    @keyframes pendulum-star-#{$i} {
        from { transform: rotate(-#{nth($starsRotation, $i)}deg); }
        50%  { transform: rotate(#{nth($starsRotation, $i)}deg); }
        to   { transform: rotate(-#{nth($starsRotation, $i)}deg); }
    }
}