$skills-icons-color: #333333;

.tree {
	@include inline-block;
	
	li {
		a {
			border-bottom: none;

			i {
				@include inline-block;
				font-size: 2.8rem;
				color: $skills-icons-color;
			}

			span {
				@extend custom-link;
				display: block;
				margin-top: 0.3rem;
			}
		}
	}
}

.python-icon {
	@include sprite-background("python");
}

.css-icon {
	@include sprite-background("css");
}

.js-icon {
	@include sprite-background("js");
}