section.welcome {
	width: 100%;
	height: 400px;
	background: white;
	padding-top: 3em;

	.portrait {
		@include sprite-background(portrait);
		width: 181px;
		margin: 0 auto;
	}

	p {
		@extend %webfont;
		font-size: 2em;
		color: #393939;
		max-width: 30em;
		margin: 0 auto;
		padding: 1em;
	}
}