section.welcome {

    .portrait {
        @include sprite-background(portrait);
        width: 181px;
        margin: 0 auto;
    }

    .contacts {
        @include border-radius(9px);
        @include inline-block;
        background: url("../images/envelope-bg.png");
        background-position: 12% 0%;
        max-width: 100%;
        margin: 1rem auto;
        padding: 1rem;

        address {
            @include border-radius(6px);
            background: #fff;
            padding: 1rem;
            margin: 0;
            text-align: left;

            i {
                min-width: 1.5rem;
                margin-right: 0.5rem;
            }

            ul {
            	@include no-bullets;
            	margin: 0;
            	padding: 0 0 0 0.2rem;
            	font-size: 1.5rem;
            }

            li {
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        @include respond-to(retina) {
            background-image: url('../images/envelope-bg@2x.png');
        }
    }
}