!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title site
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    link(rel='stylesheet', href='styles/vendor.css')    
    // endbuild
    // build:css styles/plugins.css
    link(rel='stylesheet', href='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    script(src='bower_components/modernizr/modernizr.js')
  body
    include partials/welcome
    include partials/experience
    include partials/skills
    include partials/showcase
    include partials/footer
    // build:js scripts/vendor.js
    script(src='bower_components/jquery/jquery.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/smoothscroll.js')
    script(src='scripts/main.js')
    // endbuild
    // build:js scripts/plugins.js
    script(src='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
    script(src='bower_components/jquery-colorbox/jquery.colorbox-min.js')
    script(src='bower_components/jquery.smooth-scroll/jquery.smooth-scroll.min.js')
    script(src='bower_components/retinajs/src/retina.js')
    script(src='bower_components/sass-bootstrap/js/affix.js')
    script(src='bower_components/sass-bootstrap/js/alert.js')
    script(src='bower_components/sass-bootstrap/js/dropdown.js')
    script(src='bower_components/sass-bootstrap/js/tooltip.js')
    script(src='bower_components/sass-bootstrap/js/modal.js')
    script(src='bower_components/sass-bootstrap/js/transition.js')
    script(src='bower_components/sass-bootstrap/js/button.js')
    script(src='bower_components/sass-bootstrap/js/popover.js')
    script(src='bower_components/sass-bootstrap/js/carousel.js')
    script(src='bower_components/sass-bootstrap/js/scrollspy.js')
    script(src='bower_components/sass-bootstrap/js/collapse.js')
    script(src='bower_components/sass-bootstrap/js/tab.js')
    // endbuild
