section.experience
	h1#experience
		span.contracted-letter-spacing О
		|пыт
	p Мне всегда интересно браться за новые задачи, и я благодарен людям, помогающим мне в этом. Эти замечательные коллективы подарили мне бесценный опыт:
	ul.jobs
		li
			div.start
				| 2006
			figure
				div.logo.mai
				figcaption
					a(href="http://mai.ru/") Московский<br>авиационный<br>институт
		li
			div.start
				| 2012
			figure
				div.logo.atk
				figcaption 
					a(href="http://www.atkcg.ru/") Консультационная<br>группа АТК
					p Внедрение BI&nbsp;и&nbsp;ERP систем

		li
			div.start
				| 2013
			figure
				div.logo.nine-cats
				figcaption 
					a(href="http://9cats.ru/") nine cats
					p SMM&nbsp;агентство
		li
			div.start
				| 2014
			p
				| Интересно,<br>что же дальше? :)