footer
    p
        Спасибо, что уделили внимание моей страничке. Я также благодарю своих коллег:
    ul
        li
            a(href="https://profiles.google.com/victorgaultneytype/about") Victor&nbsp;Gaultney
            |&nbsp;—&nbsp;за прекрасный шрифт Gentium;
        li
            a(href="http://www.vectorian.net/free-vintage-vectors.html") Vectorian
            |&nbsp;—&nbsp;за великолепные векторные виньетки;
        li
            a(href="http://fortawesome.github.io/Font-Awesome/") Font&nbsp;Awesome
            |&nbsp;—&nbsp;за замечательный шрифт с иконками;
        li
            a(href="http://icons8.com/") Icons8
            |&nbsp;—&nbsp;за стильные иконки для языков программирования и разметки;
        li
            a(href="http://manos.malihu.gr/jquery-custom-content-scroller/")
                | malihu
            |, 
            a(href="https://github.com/galambalazs")
                | Balazs&nbsp;Galambosi
            |&nbsp;и&nbsp;Michael&nbsp;Herf, 
            a(href="https://github.com/kswedberg")
                | Karl&nbsp;Swedberg
            |, 
            a(href="https://github.com/imulus")
                | Imulus
            |, 
            a(href="http://codepen.io/Pestov/")
                | Ilya Pestov
            |, 
            a(href="http://getbootstrap.com/")
                | команду&nbsp;Bootstrap
            |  и 
            a(href="http://modernizr.com/")
                | команду&nbsp;Modernizr
            |&nbsp;—&nbsp;за незаменимые open-source решения.
