section.skills
    h1#skills
        span.contracted-letter-spacing Н
        | авыки
    p
        Жизнь&nbsp;—&nbsp;игра, и вот как распределились мои умения (подведите курсор к иконке или коснитесь её, чтобы прочесть описание):
    div.tree
        ul
            li
                a(data-placement="right", data-content="Знания о базовых алгоритмах, структурах данных и бородатых IT анекдотах.") 
                    i.fa.fa-wrench
                    span CS-101
                ul
                    li 
                        a(data-placement="right", data-content="Основные сведения об операционных системах, базах данных, настройке веб-серверов и удаленном доступе.") 
                            i.fa.fa-cogs
                            span Back-end
                        ul
                            li
                                a(data-placement="right", data-content="Программирование на языке Python, навыки работы с его стандартными библиотеками и постижение Дзен.")
                                    i.python-icon
                                    span Python
                                ul
                                    li
                                        a(data-placement="right", data-content="Опыт работы с Django и Flask.") 
                                            i.fa.fa-flask
                                            span Python фреймворки
                    li
                        a(data-placement="right", data-content="Проектирование пользовательских интерфейсов.")
                            i.fa.fa-hand-o-up
                            span Front-end
                        ul
                            li
                                a(data-placement="right", data-content="Программирование на язык Javascript, включая как пользовательский, так и серверный код. Позволяет читать смешные комментарии разработчиков.")
                                    i.js-icon
                                    span Javascript
                                ul
                                    li
                                        a(data-placement="right", data-content="Знание синтаксиса Coffeescript — надмножества Javascript с чайной ложечкой синтаксического сахара.")
                                            i.fa.fa-coffee
                                            span Coffeescript
                                    li
                                        a(data-placement="right", data-content="Опыт разработки с использованием популярных библиотек jQuery, Underscore, Angular, Meteor.")
                                            i.fa.fa-magic
                                            span JS фреймворки
                            li
                                a(data-placement="right", data-content="Верстка веб-документов: кроссбраузерная, валидная, семантичная, разумная.")
                                    i.html-icon
                                    span Верстка
                                ul
                                    li
                                        a(data-placement="right", data-content="Опыт работы с Jade, Handlebars, Jinja2, eco.")
                                            i.fa.fa-puzzle-piece
                                            span Шаблонизаторы
                            li
                                a(data-placement="right", data-content="Кроссбраузерное описание внешнего вида документов. Вторая и третья редакция CSS.")
                                    i.css-icon
                                    span Таблицы стилей

                                ul
                                    li
                                        a(data-placement="right", data-content="Опыт использования препроцессора Sass и фреймворка Compass.")
                                            i.fa.fa-compass
                                            span Препроцессоры
                    li
                        a(data-placement="left", data-content="Сопровождение кода на всех этапах жизненного цикла: от разработки до развертывания и поддержки.")
                            i.fa.fa-medkit
                            span Жизненный цикл
                        ul
                            li
                                a(data-placement="bottom", data-content="Использование Git для контроля изменений и совместной разработки кода.")
                                    i.fa.fa-code-fork
                                    span Контроль версий
                            li
                                a(data-placement="bottom", data-content="Настройка сборки frontend компонентов в Grunt, управление зависимостями с помощью Bower.")
                                    i.fa.fa-archive
                                    span Сборка проектов
                    li
                        a(data-placement="left", data-content="Разумное применение растровых и векторных графических форматов.")
                            i.fa.fa-picture-o
                            span Графика
                        ul
                            li
                                a(data-placement="left", data-content="Опыт работы с популярными графическими пакетами: Photoshop, Illustrator, GIMP.")
                                    i.fa.fa-pencil-square-o
                                    span Графические пакеты