section.welcome.vcard#welcome
	figure.portrait.photo
	p 
		|Привет! Меня зовут 
		span.fn Артем
			span.hidden Молоков
		|, я&nbsp;—&nbsp;
		span.title веб&#8209;разработчик 
		|из Москвы. Обожаю космос и Всемирную паутину. Узнайте обо мне немного больше на этой страничке:
	nav
		ul
			li 
				a(href="#experience")
					| Опыт
			li 
				a(href="#skills")
					| Навыки
			li 
				a(href="#showcase")
					| Портфолио
	div.contacts#contacts
		address
			ul
				li 
					i.fa.fa-envelope-o
					a.email(href="mailto: molokov.artem@gmail.com", title="molokov.artem@gmail.com") molokov.artem@gmail.com
				li
					i.fa.fa-skype
					a.tel(href="callto:veresk.msk") veresk.msk
				li
					i.fa.fa-user
					a(href="/vcard.vcf") vCard
