section.experience
	h2 Опыт
	ul.jobs
		li
			div.start
				| 2006
			figure
				div.logo.mai
				figcaption Московский<br>авиационный<br>институт
		li
			div.start
				| 2012
			figure
				div.logo.atk
				figcaption 
					| Консультационная<br>группа АТК
					p.description Внедрение BI&nbsp;и&nbsp;ERP систем

		li
			div.start
				| 2013
			figure
				div.logo.nine-cats
				figcaption 
					| nine cats
					p.description SMM&nbsp;агентство
		li
			div.start
				| 2014
			p.description
				| Интересно,<br>что же дальше? :)