section.skills
    h2 
        span.contracted-letter-spacing Н
        | авыки
    p
        Жизнь&nbsp;—&nbsp;игра, и вот как распределились мои умения (подведите курсор к иконке или коснитесь её, чтобы прочесть описание):
    div.tree
        ul
            li
                a(data-placement="right", data-content="Знания о базовых алгоритмах, структурах данных и бородатых IT анекдотах.") 
                    i.fa.fa-wrench
                    span CS-101
                ul
                    li 
                        a(data-placement="right", data-content="Основные сведения об операционных системах, удаленном доступе, базах данных, настройке веб-серверов.") 
                            i.fa.fa-cogs
                            span Back-end
                        ul
                            li
                                a(data-placement="right", data-content="Программирование на языке Python, навыки работы с его стандартными библиотеками и постижение Дзен.")
                                    i.python-icon
                                    span Python
                                ul
                                    li
                                        a(data-placement="right", data-content="Опыт работы с Django и Flask. Вызывает зависимость от крылатых пони и стеклянной тары.") 
                                            i.fa.fa-flask
                                            span Python фреймворки
                    li
                        a(data-placement="right", data-content="Проектирование пользовательских интерфейсов.")
                            i.fa.fa-hand-o-up
                            span Front-end
                        ul
                            li
                                a(data-placement="right", data-content="Программирование на язык Javascript, включая как пользовательский, так и серверный код. Позволяет читать смешные комментарии разработчиков на сайтах.")
                                    i.js-icon
                                    span Javascript
                                ul
                                    li
                                        a(data-placement="right", data-content="Знание синтаксиса Coffeescript — надмножества Javascript с дюжиной ложечек синтаксического сахара.")
                                            i.fa.fa-coffee
                                            span Coffeescript
                                    li
                                        a(data-placement="right", data-content="Опыт разработки с использованием популярных библиотек jQuery, Underscore, Angular, Meteor.")
                                            i.fa.fa-magic
                                            span JS фреймворки
                            li
                                a 
                                    i.html-icon
                                    span Верстка
                                ul
                                    li
                                        a
                                            i.fa.fa-puzzle-piece
                                            span Шаблонизаторы
                            li
                                a 
                                    i.css-icon
                                    span Таблицы стилей

                                ul
                                    li
                                        a
                                            i.fa.fa-compass
                                            span Препроцессоры
                    li
                        a
                            i.fa.fa-medkit
                            span Жизненный цикл
                        ul
                            li
                                a
                                    i.fa.fa-code-fork
                                    span Контроль версий
                            li
                                a
                                    i.fa.fa-archive
                                    span Сборка проектов
                    li
                        a
                            i.fa.fa-picture-o
                            span Графика
                        ul
                            li
                                a
                                    i.fa.fa-pencil-square-o
                                    span Графические пакеты