section.skills
    h2 
        span.contracted-letter-spacing Н
        | авыки
    p
        Жизнь&nbsp;—&nbsp;игра, и вот я распредил свои очки умений (нажмите на иконку или подведите к ней курсор, чтобы прочесть описание):
    div.tree
        ul
            li
                a 
                    i.fa.fa-wrench
                    span Инженер
                ul
                    li 
                        a 
                            i.fa.fa-cogs
                            span Back-end
                        ul
                            li
                                a
                                    i.python-icon
                                    span Python
                    li
                        a 
                            i.fa.fa-hand-o-up
                            span Front-end
                        ul
                            li
                                a 
                                    i.js-icon
                                    span Javascript
                                ul
                                    li
                                        a Great Grand Child
                                    li
                                        a Great Grand Child
                            li
                                a 
                                    i.html-icon
                                    span Верстка
                            li
                                a 
                                    i.css-icon
                                    span Таблицы стилей
