section.welcome
	div.stripes
	ul.starfield#parallaxScene
		li.layer(data-depth="0.20")
			div.double.hanged.moon
				img(src="images/moon.png", alt="moon")
		li.layer(data-depth="0.03")
			div.hanged.small.star.star-1
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="0.06")
			div.hanged.star.star-2
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="0.03")
			div.hanged.small.star.star-3
				img(src="images/star-solid.png", alt="star")
		li.layer(data-depth="0.03")
			div.hanged.small.star.star-4
				img(src="images/star-solid.png", alt="star")
		li.layer(data-depth="0.06")			
			div.hanged.star.star-5
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="0.06")
			div.hanged.star.star-6
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="0.03")				
			div.hanged.small.star.star-7
				img(src="images/star-solid.png", alt="star")
		li.layer(data-depth="0.03")
			div.hanged.small.star.star-8
				img(src="images/star-solid.png", alt="star")
		li.layer(data-depth="0.06")				
			div.hanged.star.star-9
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="1.0")
			div.double.hanged.spaceship
				img(src="images/spaceship.png", alt="spaceship")
	article.hero
		h3 Привет!
		p Меня зовут Артем, я — веб-разработчик из Москвы.
		p Обожаю космос и Всемирную паутину.
		figure
			img(src="images/look-more.png", alt="look more")
			figcaption Узнайте обо мне больше
