section.welcome
	figure.portrait
	p Привет! Меня зовут Артем, я&nbsp;—&nbsp;веб&#8209;разработчик из Москвы. Обожаю космос и Всемирную паутину. Узнайте обо мне немного больше на этой страничке.
	div.contacts
		address
			p <i class="fa fa-envelope-o"></i><a href="mailto: molokov.artem@gmail.com" title="molokov.artem@gmail.com">molokov.artem@gmail.com</a>
			p <i class="fa fa-skype"></i><a href="callto:veresk.msk">veresk.msk</a>