section.welcome
	ul.starfield#parallaxScene
		li.layer(data-depth="0.20")
			div.moon
		li.layer(data-depth="0.03")
			div.hanged.small.star.star-1
				div.string
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="0.06")
			div.hanged.star.star-2
				div.string
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="0.03")
			div.hanged.small.star.star-3
				div.string
				img(src="images/star-solid.png", alt="star")
		li.layer(data-depth="0.03")
			div.hanged.small.star.star-4
				div.string
				img(src="images/star-solid.png", alt="star")
		li.layer(data-depth="0.06")			
			div.hanged.star.star-5
				div.string
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="0.06")
			div.hanged.star.star-6
				div.string
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="0.03")				
			div.hanged.small.star.star-7
				div.string
				img(src="images/star-solid.png", alt="star")
		li.layer(data-depth="0.03")
			div.hanged.small.star.star-8
				div.string
				img(src="images/star-solid.png", alt="star")
		li.layer(data-depth="0.06")				
			div.hanged.star.star-9
				div.string
				img(src="images/star-outlined.png", alt="star")
		li.layer(data-depth="1.0")
			div.spaceship
